{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}



<html>
  <head>
    <title>GameGen</title>



    {% render_bundle 'app' 'css' 'DEFAULT' %}
    {% render_bundle 'app' 'js' 'DEFAULT' %}




    {% block extrahead %}{% endblock %}
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'HomeView' %}">{% trans 'GameGen' %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'HomeView' %}">{% trans 'Home' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'HomeView' %}">{% trans 'Home' %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% trans 'Create' %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'CreateGameView' %}">{% trans 'Create Game' %}</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <body hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {% block allcontent %}
    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>
    
    {% endblock %}
  </body>
  <script>
  $(document).ready(function() {
    $('.select-normal').select2();
    $('.select-location').select2({tags: true});

  });
  </script>

</html>
