{% extends "base.html" %}
{% load i18n %}



{% block content %}
<form id="addGameToLocation" hx-get="{% url 'addGame' %}" hx-trigger="submit">
  <label for="select-game" class="form-label">{% if type == "expansion" %}{% trans 'ExpansionName' %}{% else %}{% trans 'GameName' %}{% endif %}</label>
  <div class="input-group mb-3">
      <select required id="select-game" class="form-select" style="width:10vw" name="game" data-placeholder="Choose one game">
          <option value="">{% translate "" %}</option>
          {% for game in games %}
          <option value="{{game.id}}">{{game}}</option>
          {% endfor %}
      </select>
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#gameModal">+</button>
  </div>
  </br>

  <label for="location" class="form-label">{% trans 'Location' %}</label>
  <select id="location" required class="select select-location select2" style="width:10vw" name="location" {% if type != "expansion" %}hx-get="{% url 'AddDislikes' %}" hx-target="#dislikerDiv" hx-trigger="change" {% endif %}>
      <option value=""></option>
      {% for location in locations %}
      <option value="{{location.id}}">{{location.name}}</option>
      {% endfor %}
  </select>
  {% if type == "expansion" %}
  <input type="hidden" name="type" value="expansion">
  </br>
  {% else %}
  <div id="dislikerDiv">

  </div>
  {% endif %}

  <button type="submit" class="btn btn-primary">{% if type == "expansion" %}{% trans "Save Expansion" %}{% else %}{% trans "Save Game" %}{% endif %}</button>
  <button type="submit" class="btn btn-primary" formaction="{% url 'addWishlist' %}">{% trans "Add to Wishlist" %}</button>
</form>

<div class="overviewTable">

</div>




  <!-- Modal -->
  <div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="gameModalLabel">{% if type == "expansion" %}{% translate "New Expansion" %}{% else %}{% translate "New Game" %}{% endif %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>{% translate "Import from BGG" %}</h3>
            <form hx-get="{% url 'getBGGData' %}" hx-target="#game_data">
              <div class="input-group mb-3">
                  <input type="text" id="InputBGGId" class="form-control" name="id" placeholder="BGG Game ID">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">{% translate "Get Data" %}</button>
              </div>
              {% if type == "expansion" %}<input type="hidden" name="type" value="expansion">{% endif %}
            </form>
            <hr>
            <h3>{% translate "Game Data" %}</h3>
            <div id="game_data">
                {% include "home/game_data_htmx.html" %}
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="newGameForm" class="btn btn-primary">Save Game</button>
        </div>
      </div>
    </div>
  </div>



<script>

    window.addEventListener("DOMContentLoaded", (e) => {
        $('select').on('select2:select', function (e) {
            $(this).closest('select').get(0).dispatchEvent(new Event('change'));
        });

    });
    $( '#select-game' ).select2( {
        theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
    } );   

    //https://boardgamegeek.com/xmlapi2/thing/?id=355326 -> Zeigt auf Heroes of Might and Magic
</script>


{% endblock content %}

