{% load i18n %}

<div id="game-table" class="table table-striped">
    <table border=1 style="width:75vw" id="table_detail">
        <thead>
            <tr>
                <th style="width:25vw">
                {% trans 'Name' %}
                </th>
                <th style="width:15vw">
                {% trans 'Genre' %}
                </th>
                <th style="width:15vw">
                    {% trans 'Teaming' %}
                </th>
                <th style="width:15vw">
                {% trans 'Duration' %}
                </th>
                <th style="width:15vw">
                    {% trans 'PlayerCount' %}
                    </th>
                <th style="width:15vw">
                {% trans 'GameDislikes' %}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr onclick="showHideRow('hidden_{{game.id}}')" class="gameRows" data-name="{{game.id}}" {% if game in notGames %}style="background-color:red"{% endif %}>
                <td> {% if type == "collection" %}{{game.game.name}}{% else %}{{game.name}} {% endif %}</td>
                <td> {% if type == "collection" %}{{game.game.genre.all|join:", "}}{% else %}{{game.genre.all|join:", "}} {% endif %}</td>
                <td> {% if type == "collection" %}{{game.game.teaming.all|join:", "}}{% else %}{{game.teaming.all|join:", "}} {% endif %}</td>
                <td> {% if type == "collection" %}{{game.game.duration}}{% else %}{{game.duration}} {% endif %} min</td>
                <td> {% if type == "collection" %}{{game.game.min_player}}{% else %} {{game.min_player}}{% endif %}  - {% if type == "collection" %}{{game.game.max_player}}{% else %} {{game.max_player}}{% endif %}</td>
                <td> {{game.disliker}}</td>
                <td style="width:1rem"> 
                    {% if type == "wishlist" %}
                        {% if location in user.editer.all or location in user.creater.all %}
                            {% if game in location.wishlist_games.all %}<a hx-get="{% url 'addToStorage' %}" hx-target="#game-table" hx-trigger="click" hx-vals='{"game": {{game.id}}, "location": {{location.id}}, "elementType": "game" }' hx-include="[name='genre'], [name='teaming'],[name='duration'],[name='min-player'],[name='type']"><i class="material-icons me-1">add_shopping_cart</i></a>{% endif %}
                            {% if game in location.wishlist_games.all %}<a hx-get="{% url 'deleteElement' %}" hx-target="#game-table" hx-trigger="click" hx-vals='{"game": {{game.id}}, "location": {{location.id}}, "type": "{{type}}","elementType": "game"}' hx-include="[name='genre'], [name='teaming'],[name='duration'],[name='min-player'],[name='type']"><i class="material-icons me-1">delete</i></a>{% endif %}
                        {% endif %}
                    {% else %}
                        {% if location in user.editer.all or location in user.creater.all %}
                            <a hx-get="{% url 'changeDislikes' %}" hx-target="#modalDislikeBody" hx-trigger="click" hx-vals='{"game": {{game.game.id}}, "location": {{location.id}}}' data-bs-toggle="modal" data-bs-target="#changeDislikes"><i class="material-icons me-1">edit</i></a>
                            <a hx-get="{% url 'deleteElement' %}" hx-target="#game-table" hx-trigger="click" hx-vals='{"game": {{game.game.id}}, "location": {{location.id}}, "type": "{{type}}","elementType": "game"}' hx-include="[name='genre'], [name='teaming'],[name='duration'],[name='min-player'],[name='type']"><i class="material-icons me-1">delete</i></a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr id="hidden_{{game.id}}"  class="hidden_row">
                <td colspan="7">
                    <p>
                        <table class="table" style="font-size:small">
                            <tr class="table-info text-center">
                                <th>{% trans 'Number' %}</th>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Genre' %}</th>
                                <th>{% trans 'Teaming' %}</th>
                                <th>{% trans 'Duration' %}</th>
                                <th>{% trans 'PlayerCount' %}</th>
                            </tr>
                            {% for expansion in game.expansion_set.all %}
                                {% if expansion in location.expansions.all %}
                                <tr class="table-info text-center">
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.number}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.name}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.genre.all|join:", "}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.teaming.all|join:", "}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.duration}}min</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.min_player}}-{{expansion.max_player}}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            {% for expansion in game.game.expansion_set.all %}
                                {% if expansion in location.expansions.all %}
                                <tr class="table-info text-center">
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.number}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.name}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.genre.all|join:", "}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.teaming.all|join:", "}}</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.duration}}min</td>
                                    <td {% if game in notGames and expansion in expansions %}style="background-color:lightgreen"{% endif %}>{{expansion.min_player}}-{{expansion.max_player}}</td>
                                </tr>
                                {% endif %}
                        {% endfor %}
                        </table>
                        <ul>

                        </ul>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function showHideRow(row){
        $("#"+row).toggleClass("hidden_row");
      }
    
</script>
<style>
    .hidden_row{
        display:none
    }
</style>