{% load i18n %}

<div id="game-table" class="table table-striped">
    <table border=1 style="width:75vw" id="table_detail">
        <thead>
            <tr>
                <th style="width:25vw">
                {% trans 'GameName' %}
                </th>
                <th style="width:15vw">
                {% trans 'GenreOfGame' %}
                </th>
                <th style="width:15vw">
                {% trans 'GameLength' %}
                </th>
                <th style="width:15vw">
                {% trans 'GameCharacter' %}
                </th>
                <th style="width:15vw">
                    {% trans 'PlayerCount' %}
                    </th>
                <th style="width:15vw">
                {% trans 'GameDislikes' %}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr onclick="showHideRow('hidden_{{game.id}}')" class="gameRows" data-name="{{game.id}}">
                <td> {{game.name}}</td>
                <td> {{game.genre.all|join:", "}}</td>
                <td> {{game.duration}} min</td>
                <td> {{game.teaming.all|join:", "}}</td>
                <td> {{game.min_player}}  - {{game.max_player}}</td>
                <td> {{game.dislikes.disliker}}</td>
                <td style="width:1rem"> <img src="https://cdn-icons-png.flaticon.com/512/63/63830.png" style="width:1rem" onclick="showOverlay({{nummer.namenid}}, '{{nummer.rules}}')"></td>
            </tr>
            <tr id="hidden_{{game.id}}"  class="hidden_row">
                <td colspan="7">
                    <p>
                        <table class="table" style="font-size:small">
                            <tr class="table-info text-center">
                                <th>Name</th>
                                <th>Number</th>
                                <th>Duration</th>
                                <th>PlayerCount</th>
                            </tr>
                            {% for expansion in game.expansion_set.all %}
                                {% if expansion in location.expansions.all %}
                                <tr class="table-info text-center">
                                    <td>{{expansion.name}}</td>
                                    <td>{{expansion.number}}</td>
                                    <td>{{expansion.duration}}min</td>
                                    <td>{{expansion.min_player}}-{{expansion.max_player}}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                        <ul>

                        </ul>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function showHideRow(row){
        $("#"+row).toggleClass("hidden_row");
      }
    
</script>
<style>
    .hidden_row{
        display:none
    }
</style>