{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<script>
  function displayDiv(){
    orte={{orte|safe}}
    for (ort in orte){
      document.getElementById(orte[ort]).style.display = "none";
    } 
    select = document.getElementById('id_ort');
    value = select.options[select.selectedIndex].text;
    document.getElementById(value).style.display = "contents";
  }
</script>

<body {% block body_attributes %}{% endblock body_attributes %} onload="displayDiv()" style="overflow-x: hidden;">
  

  <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="methode" value="AddingGame">
    <table border=1 style="width:100vw">
      <tr>
        <td>{% trans 'Name' %}</td>
        <td>
          <input type="text" name="gameName">
        </td> 
      </tr>
      <tr>
        <td>{% trans 'Location' %}</td>
        <td>
          <select onchange="displayDiv()" id="id_ort" name="gameOrt">
            {% for ort in orte%}
            <option>{{ort}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Genre' %}</td>
        <td>
          <select id="id_genre" name="gameGenre">
            {% for genrei in genres%}
            <option>{{genrei}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'minPlayer' %}</td>
        <td>
          <input type="number" name="gameMinSpieler">
        </td>
      </tr>
      <tr>
        <td>{% trans 'maxPlayer' %}</td>
        <td>
          <input type="number" name="gameMaxSpieler">
        </td>
      </tr>
      <tr>
        <td>{% trans 'Versus' %}</td>
        <td>
          <select id="id_versus" name="gameVersus">
            {% for versis in vs%}
            <option>{{versis}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Length' %}</td>
        <td>
          <select id="id_dauer" name="gameDauer">
            {% for zeit in zeiten%}
            <option>{{zeit}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Dislikes' %}</td>
        
    {% for key, value in personen.items%}
  <td id={{key}} style="display:contents">
    <select  name={{key}} multiple="multiple" >
      {% for person in value %}
        {% if person in auswahl.personen and key == auswahl.ort%}
          <option value={{person}} selected>{{person}}</option>
        {%else%}
          <option value={{person}}>{{person}}</option>
        {%endif%}
      {% endfor %}
    </select>
  </td>
  {% endfor %}
  </tr>

      </tr>
      <tr>
        <td>{% trans 'Rules' %}</td>
        <td>
          <textarea rows = "5" cols = "60" name = "rules"></textarea>
        </td>
      </tr>
      <tr>
        <td> {% trans 'Save' %} </td>
        <td> <input type="submit" value="{% trans 'Save' %}"></td>
      </tr>
    </table>
  </form>

  


</body>

</html>
{% endblock %}