{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<body {% block body_attributes %}{% endblock body_attributes %} style="overflow-x: hidden;">
  

  <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="methode" value="SaveGame">
    <input type="hidden" name="gameID" value={{game.id}}>
    <input type="hidden" name="gameOrt" value={{ort}}>
    <table border=1 style="width:100vw">
      <tr>
        <td>{% trans 'Name' %}</td>
        <td>
          <input type="text" value='{{game.name}}' name="gameName">
        </td> 
      </tr>
      <tr>
        <td>{% trans 'Location' %}</td>
        <td>
          {{game.ort}}
        </td>
      </tr>
      <tr>
        <td>{% trans 'Genre' %}</td>
        <td>
          <select id="id_genre" name="gameGenre">
            <option>None</option>
            {% for genrei in genres%}
            {% if genrei.name == game.genre.name%}
            <option value="{{genrei.name}}" selected>{{genrei.label}}</option>
            {% else %}
            <option value="{{genrei.name}}">{{genrei.label}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'minPlayer' %}</td>
        <td>
          <input type="number" value={{game.minSpieler}} name="gameMinSpieler">
        </td>
      </tr>
      <tr>
        <td>{% trans 'maxPlayer' %}</td>
        <td>
          <input type="number" value={{game.maxSpieler}} name="gameMaxSpieler">
        </td>
      </tr>
      <tr>
        <td>{% trans 'Versus' %}</td>
        <td>
          <select id="id_versus" name="gameVersus">
            <option>None</option>
            {% for versis in vs%}
            {% if versis.name == game.versus.name%}
            <option value="{{versis.name}}" selected>{{versis.label}}</option>
            {% else %}
            <option value="{{versis.name}}">{{versis.label}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Length' %}</td>
        <td>
          <select id="id_dauer" name="gameDauer">
            <option>None</option>
            {% for zeit in zeiten%}
            {% if zeit.name == game.zeit.name%}
            <option value="{{zeit.name}}" selected>{{zeit.label}}</option>
            {% else %}
            <option value="{{zeit.name}}">{{zeit.label}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Dislikes' %}</td>
        <td>
          <select id="id_mitspieler" multiple="multiple" name="gameDislikes">
            {% for person in personen %}
            {% if person in game.Personen%}
              <option value={{person}} selected>{{person}}</option>
            {%else%}
              <option value={{person}}>{{person}}</option>
            {%endif%}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Rules' %}</td>
        <td>
          <textarea rows = "5" cols = "60" name = "rules">{{game.rules}}</textarea>
        </td>
      </tr>
      <tr>
        <td> {% trans 'Save' %} </td>
        <td> <input type="submit" value="{% trans 'Save' %}"></td>
      </tr>
    </table>
  </form>

  


</body>

</html>
{% endblock %}