{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<script>
  function searchTable(tableName) {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById(tableName);
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          td2 = tr[i].getElementsByTagName("td")[2]
          if (td2){
            txtValue2 = td2.textContent || td2.innerText;
            if (txtValue2.toUpperCase().indexOf(filter) > -1){
              tr[i].style.display = "";
            }else{
              tr[i].style.display = "none";
            }
          }

        }
      } 
    }
  }
  </script>

<body {% block body_attributes %}{% endblock body_attributes %} style="overflow-x: hidden;">
<form action="" method="post">
  {% csrf_token %}
  <input type="hidden" name="methode" value="addErweiterung">
  <input type="submit" value="{% trans 'AddExtension' %}">
</form>

<input type="text" id="myInput" onkeyup="searchTable('erweiterungstable')" placeholder={% trans 'ExtensionSearch' %}>

  <table border=1 style="width:100vw" id="erweiterungstable">
    <tr>
      <th>
        {% trans 'ExtensionName' %}
      </th>
      <th>
        {% trans 'ExtensionNumber' %}
      </th>
      <th>
        {% trans 'Basegame' %}
      </th>
      <th>
        {% trans 'PlayerCount' %}
      </th>
      <th>
        {% trans 'Edit' %}
      </th>
    </tr>
    {% for erweiterung in endErweiterung%}
    <tr>
      <td>{{erweiterung.name}}</td>
      <td>{{erweiterung.nummer}}</td>
      <td>{{erweiterung.grundspiel}}</td>
      <td>{{erweiterung.minSpieler}} - {{erweiterung.maxSpieler}}</td>
      <td>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="methode" value="deleteErweiterung">
          <input type="hidden" name="erweiterungid" value={{erweiterung.id}}>
          <input type="submit" value={% trans 'Delete' %}>
        </form>

      </td>
    </tr>
    {% endfor %}

  </table>


  


</body>

</html>
{% endblock %}