{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<script>
  function searchTable(tableName) {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById(tableName);
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  </script>


<!-- ########### -->
<script> 
// HTML-Tabelle sortieren 

const table = document.getElementById("spieltable"); 
const headers = table.querySelectorAll("th"); 
const tableBody = table.querySelector("tbody"); 
const rows = tableBody.querySelectorAll("tr"); 
const directions = Array.from(headers).map(function(header) { 
 return ""; 
}); 

const transform = function(index, content) { 
 const type = headers[index].getAttribute("data-type"); 
 switch (type) { 
     case "number": 
  return parseFloat(content); 
     case "string": 
     default: 
  return content; 
 } 
}; 

const sortColumn = function(index) { 
 const direction = directions[index] || "asc"; 
  const multiplier = (direction === "asc") ? 1 : -1; 
  const newRows = Array.from(rows); 

  newRows.sort(function(rowA, rowB) { 
     const cellA = rowA.querySelectorAll("td")[index].textContent; 
     const cellB = rowB.querySelectorAll("td")[index].textContent; 

     const a = transform(index, cellA); 
     const b = transform(index, cellB); 

     switch (true) { 
      case a > b: return 1 * multiplier; 
      case a < b: return -1 * multiplier; 
      case a === b: return 0; 
       } 
   }); 

   [].forEach.call(rows, function(row) { 
       tableBody.removeChild(row); 
   }); 

   directions[index] = direction === "asc" ? "desc" : "asc"; 
   newRows.forEach(function(newRow) { 
       tableBody.appendChild(newRow); 
   }); 
 }; 

[].forEach.call(headers, function(header, index) { 
   header.addEventListener("click", function() { 
       sortColumn(index); 
   }); 
}); 
</script>


<body {% block body_attributes %}{% endblock body_attributes %} style="overflow-x: hidden;">
  
<div class="row">
  <div class="col">
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="methode" value="ortVerwaltung">
      <input type="submit" id="id_ortnaming" value="{% trans 'ManageLocations' %}">
    </form>
  </div>
  <div class="col">
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="methode" value="personenVerwaltung">
      <input type="submit" value="{% trans 'ManageUsers' %}">
    </form> 
  </div>
  <div class="col">
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="methode" value="erweiterungVerwaltung">
      <input type="submit" value="{% trans 'ManageExtensions' %}">
    </form>
  </div>
  <div class="col">
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="methode" value="addGame">
      <input type="submit" value="{% trans 'AddGame' %}">
    </form>
  </div>
</div>
  

  
 
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>

  <input type="text" id="myInput" onkeyup="searchTable('spieltable')" placeholder={% trans 'GameSearch' %}>
  <table border=1 style="width:100vw" id="spieltable">
    <thead>
      <tr>
        <th>{% trans 'GameName' %}</th>
        <th>{% trans 'Location' %}</th>
        <th>{% trans 'Edit' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for spiel in spiele%}
      <tr>
        <td>{{spiel.name}}</td>
        <td>{{spiel.ort}}</td>
        <td>
          <form action='' method="post">
            {% csrf_token %}
            <input type="hidden" name="methode" value="EditGame">
            <input type="hidden" name="gameID" value={{spiel.id}}>
            <input type="submit" value={% trans 'Edit' %}>
          </form>

          <form action='' method="post">
            {% csrf_token %}
            <input type="hidden" name="methode" value="deleteGame">
            <input type="hidden" name="gameID" value={{spiel.id}}>
            <input type="submit" value={% trans 'Delete' %}>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    

  </table>
  


</body>

</html>
{% endblock %}