{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<script>
  function searchTable(tableName) {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById(tableName);
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  </script>

<body {% block body_attributes %}{% endblock body_attributes %} style="overflow-x: hidden;">
<form action="" method="post">
  {% csrf_token %}
  <input type="hidden" name="methode" value="newOrt">
  <input type="submit" value="{% trans 'AddLocation' %}">
</form>

<input type="text" id="myInput" onkeyup="searchTable('orttable')" placeholder={% trans 'LocationSearch' %}>

  <table border=1 style="width:100vw" id="orttable">
    <tr>
      <th>
        {% trans 'LocationName' %}
      </th>
      <th>
        {% trans 'Persons' %}
      </th>
      <th>
        {% trans 'Edit' %}
      </th>
    </tr>
    {% for ort in endOrte%}
    <tr>
      <td>{{ort.name}}</td>
      <td>{{ort.personen}}</td>
      <td>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="methode" value="editOrt">
          <input type="hidden" name="ortname" value={{ort.name}}>
          <input type="hidden" name="ortpersonen" value={{ort.personen}}>
          <input type="submit" value={% trans 'Edit' %}>
        </form>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="methode" value="deleteOrt">
          <input type="hidden" name="ortname" value={{ort.name}}>
          <input type="submit" value={% trans 'Delete' %}>
        </form>

      </td>
    </tr>
    {% endfor %}

  </table>


  


</body>

</html>
{% endblock %}