{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<script>
  function searchTable(tableName) {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById(tableName);
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  </script>

<body {% block body_attributes %}{% endblock body_attributes %} style="overflow-x: hidden;">
  <button onclick="location.href='location/add'">{% trans 'AddLocation' %}</button>
<br>
<br>

<input type="text" id="myInput" onkeyup="searchTable('orttable')" placeholder={% trans 'LocationSearch' %}>

  <table border=1 style="width:100vw" id="orttable">
    <tr>
      <th>
        {% trans 'LocationName' %}
      </th>
      <th>
        {% trans 'Persons' %}
      </th>
      <th>
        {% trans 'Edit' %}
      </th>
    </tr>
    {% for ort in endOrte%}
    <tr>
      <td>{{ort.name}}</td>
      <td>{{ort.personen}}</td>
      <td>
        <button onclick="location.href='location/edit?l={{ort.name}}'">{% trans 'Edit' %}</button>
        <button onclick="location.href='location/delete?l={{ort.name}}'">{% trans 'Delete' %}</button>

      </td>
    </tr>
    {% endfor %}

  </table>


  


</body>

</html>
{% endblock %}