{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<script>
  function searchTable(tableName) {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById(tableName);
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  </script>
<body {% block body_attributes %}{% endblock body_attributes %} style="overflow-x: hidden;">
<form action="" method="post">
  {% csrf_token %}
  <input type="hidden" name="methode" value="newUser">
  <input type="submit" value="{% trans 'AddUser' %}">
</form>

<input type="text" id="myInput" onkeyup="searchTable('persontable')" placeholder={% trans 'PersonSearch' %}>

  <table border=1 style="width:100vw" id="persontable">
    <tr>
      <th>
        {% trans 'Person' %}
      </th>
      <th>
        {% trans 'Role' %}
      </th>
      <th>
        {% trans 'Location' %}
      </th>
      <th>
        {% trans 'Delete' %}
      </th>
    </tr>
    {% for person in personenVerwaltung%}
    <tr>
      <td>{{person.person}}</td>
      <td>{{person.rolle}}</td>
      <td>{{person.ort}}</td>
      <td>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="methode" value="deletePerson">
          <input type="hidden" name="personName" value={{person.person}}>
          <input type="hidden" name="personRolle" value={{person.rolle}}>
          <input type="hidden" name="personOrt" value={{person.ort}}>
          <input type="submit" value={% trans 'Delete' %}>
        </form>

      </td>
    </tr>
    {% endfor %}

  </table>


  


</body>

</html>
{% endblock %}