{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
  table {
      border-collapse: collapse;
      border: 2px black solid;
      font: 12px sans-serif;
  }

  td {
      border: 1px black solid;
      padding: 5px;
  }
</style>
<body {% block body_attributes %}{% endblock body_attributes %}>
<form id="uploadForm">
  <input type="file" id="fileUpload" />
  <input type="checkbox" id="bggPlayerCount" name="bggPlayerCount" value="bggPlayerCount">
    <label for="bggPlayerCount">{% trans 'bggPlayerCount' %}</label>
  <select id="ortSelect">
    {% for ort in orte%}
    <option>{{ort}}</option>
    {% endfor %}
  </select>
  <input type="button" id="upload" value="Upload" onclick="Upload()" />
  <hr />
  <div id="dvCSV">
  </div>


  <div id="saveDiv" style="position: relative;text-align: center; display: none;">
  <input type="checkbox" id="overwrite">
  <label for="overwrite">{% trans 'overwriteGames' %}</label>
  <!-- <input type="button" id="saveGames" value="Save" onclick="SaveGames()" /> -->
  <input type="submit" id="saveGames" value="Save" onclick="SaveGames()" />
  </div>
</form>
<form id="exportForm">
  <select id="locSelect">
    {% for ort in orte%}
    <option>{{ort}}</option>
    {% endfor %}
  </select>
  <input type="button" id="export" value="Export as CSV" onclick="Export()" />
</form>

  <select id="genreSelect" style="display:none" form="uploadForm">
    <option selected disabled value="">{% trans 'choose' %}</option>
    {% for genre in genres %}
    <option value="{{genre.name}}">{{genre.label}}</option>
    {% endfor %}
  </select>

  <select id="versusSelect" style="display:none" form="uploadForm">
    <option selected disabled value="">{% trans 'choose' %}</option>
    {% for vs in versus %}
    <option value="{{vs.name}}">{{vs.label}}</option>
    {% endfor %}
  </select>

  {% for ort in orte %}
  <select id={{ort}} style="display:none" form="uploadForm">
    <option selected disabled value="">{% trans 'choose' %}</option>
  </select>
  {% endfor %}

  {% csrf_token %}

  


  <script type="text/javascript">
    function Upload() {
        var fileUpload = document.getElementById("fileUpload");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                document.getElementById("ortSelect").disabled=true
                addGamesToOrt()
                var reader = new FileReader();
                reader.onload = function (e) {
                    // generateTable(e)
                    array = csvToArray(e)
                    dictToTable(array)
                }
                reader.readAsText(fileUpload.files[0]);
                document.getElementById("saveDiv").style.display="block"
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid CSV file.");
        }
    }
</script>

<script>
  function Export(){
    ort = document.getElementById("locSelect").value
    window.location.href = "http://localhost:8005/importer/export?location="+ort;
  }


  function generateTable(e){
    var table = document.createElement("table");
    var rows = e.target.result.split("\n");
    for (var i = 0; i < rows.length; i++) {
      if(i==0){
        var cells = rows[i].split(',');
      }
      else{
        var cells = rows[i].split('","');
      }
                          
      if (cells.length > 1) {
        var row = table.insertRow(-1);
        for (var j = 0; j < cells.length; j++) {
          var cell = row.insertCell(-1);
          cell.innerHTML = cells[j];
        }
      }
    }
    var dvCSV = document.getElementById("dvCSV");
    dvCSV.innerHTML = "";
    dvCSV.appendChild(table);
  }
  function csvToArray(str, delimiter = '","') {
    str = str.target.result;
    const headers = str.slice(0, str.indexOf("\n")).split(',');
    const rows = str.slice(str.indexOf("\n") + 1).split("\n");

    const arr = rows.map(function (row) {
      const values = row.split(delimiter);
      const el = headers.reduce(function (object, header, index) {
        object[header] = values[index];
        return object;
      }, {});
      return el;
    });

    return arr;
  }
  function dictToTable(e){
    
    var table = document.createElement("table");
    var tableExpansion = document.createElement("table")

    var bggPlayerCount = document.getElementById("bggPlayerCount").checked;
    if (bggPlayerCount){
      spalten = ["objectname",  "bggrecplayers", "bggrecplayers","playingtime",]
      spaltenname = ["{% trans 'name' %}", "{% trans 'bggMinPlayer' %}", "{% trans 'bggMaxPlayer' %}","{% trans 'GameTime' %}", "{% trans 'Genre' %}", "{% trans 'Versus' %}"]
    }else{
      spalten = ["objectname", "minplayers", "maxplayers", "playingtime"]
      spaltenname = ["{% trans 'name' %}", "{% trans 'minPlayer' %}", "{% trans 'maxPlayer' %}", "{% trans 'GameTime' %}", "{% trans 'Genre' %}", "{% trans 'Versus' %}"]
    }

  
    var row = table.insertRow(-1)
    for (var j = 0; j < spaltenname.length; j++) {
          var cell = row.insertCell(-1);
          cell.innerHTML = spaltenname[j];
    }
    
    ortSelect = document.getElementById("ortSelect").value
    erweiterungsList = []


    for (var i = 0; i < e.length-1; i++) {


      if (e[i]["itemtype"]=="expansion"){
        erweiterungsList.push(e[i])

        



      }else{

        // Basisspiele
        gamename = e[i]["objectname"]
        gamename =gamename.substr(1)
        select = document.getElementById(ortSelect);
        let selectQuery = document.querySelectorAll('[id='+ortSelect+']');
        let optionValues = [...selectQuery[0].options].map(o => o.value)
        if (!optionValues.includes(gamename)){
          var opt = document.createElement('option');
          opt.value = gamename
          opt.innerHTML = gamename
          select.appendChild(opt)
        }
        
        
        if (spalten.length > 1) {
          var row = table.insertRow(-1);
          for (var j = 0; j < spalten.length; j++) {
            var cell = row.insertCell(-1);
            
            if (spalten[j] == "playingtime"){
              gesuchteZeit = parseInt(e[i][spalten[j]])
              let timecounter = 0
              {% for time in zeiten %}
              timevalue = {{time.value}}
              timelabel = "{{time.label}}"
              timename = "{{time.name}}"
              timecounter = timecounter + 1 
              if ((timevalue>=gesuchteZeit)){
                cell.innerHTML = timelabel;
                cell.title = timename
              }
              {% endfor %}
              }else{
              if (spaltenname[j] == "{% trans 'bggMinPlayer' %}"){
                countList = (e[i][spalten[j]]).split(",")
                cell.innerHTML = countList[0]  
              }
              else if (spaltenname[j] == "{% trans 'bggMaxPlayer' %}"){
                countList = (e[i][spalten[j]]).split(",")
                cell.innerHTML = countList[countList.length-1]
              }else{
                // if not Zeitstuff oder Spielzahl
                cell.innerHTML = e[i][spalten[j]]
              }
            }
            
          }
          for (var x = 0; x < (spaltenname.length - spalten.length); x++){
            var cell = row.insertCell(-1);
            if (x==0){
              let genreSelect = document.querySelector('#genreSelect');
              let cloneGenre = genreSelect.cloneNode(true);
              id = i-erweiterungsList.length
              cloneGenre.id = 'genre'+id.toString()
              cloneGenre.style.display="block"
              cloneGenre.required="required"
              cell.appendChild(cloneGenre)
            }
            else if (x==1){
              let versusSelect = document.querySelector('#versusSelect');
              let cloneVersus = versusSelect.cloneNode(true);
              id = i-erweiterungsList.length
              cloneVersus.id = 'versus'+id.toString()
              cloneVersus.style.display="block"
              cloneVersus.required="required"
              cell.appendChild(cloneVersus)
            }
          }
        }
      }             
      
    }
    var dvCSV = document.getElementById("dvCSV");
    dvCSV.innerHTML = "";
    table.id = "baseGameTable"
    dvCSV.appendChild(table);

    //Erweiterungen hinzufügen erweiterungsList
    if (bggPlayerCount){
      spalten = ["objectname", "bggrecplayers", "bggrecplayers"]
      spaltenname = ["{% trans 'name' %}", "{% trans 'bggMinPlayer' %}", "{% trans 'bggMaxPlayer' %}", "{% trans 'number' %}", "{% trans 'basegame' %}"]
    }else{
      spalten = ["objectname", "minplayers", "maxplayers"]
      spaltenname = ["{% trans 'name' %}", "{% trans 'minPlayer' %}", "{% trans 'maxPlayer' %}", "{% trans 'number' %}", "{% trans 'basegame' %}"]
    }

    var rowExpansion = tableExpansion.insertRow(-1)
    for (var j = 0; j < spaltenname.length; j++) {
          var cell = rowExpansion.insertCell(-1);
          cell.innerHTML = spaltenname[j];
    }

    for (var i = 0; i < erweiterungsList.length; i++) {
      if (spalten.length > 1) {
          var rowExpansion = tableExpansion.insertRow(-1);
          for (var j = 0; j < spalten.length; j++) {
            var cell = rowExpansion.insertCell(-1);
            if (spaltenname[j] == "{% trans 'bggMinPlayer' %}"){
              countList = (erweiterungsList[i][spalten[j]]).split(",")
              cell.innerHTML = countList[0]  
            }
            else if (spaltenname[j] == "{% trans 'bggMaxPlayer' %}"){
              countList = (erweiterungsList[i][spalten[j]]).split(",")
              cell.innerHTML = countList[countList.length-1]
            }else{
            cell.innerHTML = erweiterungsList[i][spalten[j]];
            }
          }
          for (var x = 0; x < (spaltenname.length - spalten.length); x++){
            var cell = rowExpansion.insertCell(-1);
            if (spaltenname[x+spalten.length]=="{% trans 'number' %}"){
              var input = document.createElement('input');
              input.type = 'number';
              input.id='number'+i
              input.required="required"
              cell.appendChild(input)
            }else{
              let orteSelect = document.querySelector('#' + ortSelect);
              let cloneOrt = orteSelect.cloneNode(true);
              cloneOrt.id = 'ort'+i.toString()
              cloneOrt.style.display="block"
              cloneOrt.required="required"
              cell.appendChild(cloneOrt)
              // alert("Grundspiel")
            }
            
            
          }
        }
    }




    tableExpansion.id = "expansionTable"
    dvCSV.appendChild(tableExpansion)
  }

  function addGamesToOrt(){
    {% for spiel in spiele %}
      ort = "{{spiel.ort}}"
      ortSelect = document.getElementById("ortSelect").value
      if (ort == ortSelect){
        var opt = document.createElement('option');
        select = document.getElementById(ort);
        opt.value = "{{spiel.name}}"
        opt.innerHTML = "{{spiel.name}}"
        select.appendChild(opt)
      }
    {% endfor %}
  }

  function SaveGames(){
    enddict = {}
    var table = document.getElementById("baseGameTable");
    basegameList = []
    for (var i = 1, row; row = table.rows[i]; i++) {
      basegame = {}
      //iterate through rows
      //rows would be accessed using the "row" variable assigned in the for loop
      for (var j = 0, col; col = row.cells[j]; j++) {
        if (j==0){
          name = col.innerHTML
          name = name.substr(1)
          basegame['name']=name
        } else if (j==1){
          basegame["minPlayer"] = col.innerHTML
        }else if (j==2){
          basegame["maxPlayer"] = col.innerHTML
        }else if (j==3){
          basegame["time"] = col.title
        }else if (j==4){
          genreid = 'genre'+(i-1)
          genreselect = document.getElementById(genreid)
          basegame["genre"] = genreselect.value
        }else if (j==5){
          versusSelect = document.getElementById('versus'+(i-1))
          basegame["versus"] = versusSelect.value
        }
        basegameList.push(basegame)
      }  
    }
    var tableExpansion = document.getElementById("expansionTable");
    expansionList = []
    for (var i = 1, row; row = tableExpansion.rows[i]; i++) {
      expansion={}
      //iterate through rows
      //rows would be accessed using the "row" variable assigned in the for loop
      for (var j = 0, col; col = row.cells[j]; j++) {
        if (j==0){
          name = col.innerHTML
          name = name.substr(1)
          expansion['name']=name
        } else if (j==1){
          expansion["minPlayer"] = col.innerHTML
        }else if (j==2){
          expansion["maxPlayer"] = col.innerHTML
        }else if (j==3){
          numberid = 'number'+(i-1)
          numberInput = document.getElementById(numberid)
          expansion["number"] = numberInput.value
        }else if (j==4){
          ortid = 'ort'+(i-1)
          basegameSelect = document.getElementById(ortid)
          expansion["basegame"] = basegameSelect.value
        }
        expansionList.push(expansion)
        //iterate through columns
        //columns would be accessed using the "col" variable assigned in the for loop
      }  
    }
  enddict['ort']=document.getElementById("ortSelect").value
  enddict['overwrite']=document.getElementById("overwrite").checked
  enddict['basegames'] = basegameList
  enddict['expansion'] = expansionList
  csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  
  var jsonData = JSON.stringify(enddict)
  // $.post( "/importer/save", { jsonField: jsonData, 'X-CSRFToken': csrftoken } );
  $.ajax({
    url: "/importer/save",
    type: "POST",
    headers: {'X-CSRFToken':csrftoken},
    data: {jsonField:jsonData}
  })

  }
</script>



</body>
  
{% endblock %}